.review
{
  min-height: 350px;

  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;

  background-color: $color-gray;
  background-image: linear-gradient( 0deg, rgba(49,55,61,1) 0%, rgba(49,55,61,.95) 5%, rgba(49,55,61,.9) 25%, rgba(49,55,61,0.85) 100%), url(../img/tetm_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, bottom center;
  background-size: auto, cover;

  &__item
  {
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    &--hidden
    {
      opacity: 0;
      display: none;
    }

    &:not(:first-child)::before
    {
      position: absolute;
      display: block;
      top: 120px;
      left: 15%;
      content: '';
      width: 30px;
      height: 30px;
      border-top: 5px;
      border-left: 5px;
      border-right: 0;
      border-bottom: 0;
      border-radius: 5px;
      border-color: gray;
      border-style: solid;
      transform: rotate(-45deg);
    }

    &:not(:last-child)::after
    {
      position: absolute;
      display: block;
      top: 120px;
      right: 15%;
      content: '';
      width: 30px;
      height: 30px;
      border-top: 5px;
      border-left: 5px;
      border-right: 0;
      border-bottom: 0;
      border-radius: 5px;
      border-color: gray;
      border-style: solid;
      transform: rotate(135deg);
    }

    &::after, &::before
    {
      cursor: pointer;
    }
  }

  &__photo
  {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    width: 120px;
    height: 120px;

    margin: 0 auto 50px;
  }

  &__quote
  {
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 800px;

    color: $color-light;
    quotes: none;

    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
  }

  &__cite
  {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;

    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: $color-light;
  }


}
