.say-hello
{
  min-height: 350px;

  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;

  background-color: $color-gray;
  background-image: $background-gradient, url(../img/contact_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, bottom center;
  background-size: auto, cover;
    &__wrapper
    {
        @include wrapper();
        max-width: 1300px;
    }

    &__header
    {
        font-size: 35px;
        font-weight: 600;
        font-style: normal;
        line-height: 40px;

        margin: 0 auto 20px;

        text-align: center;
        text-transform: uppercase;

        color: $color-light;

        &--highlighted
        {
          color: $color-highlight;
        }
    }

    &__description
    {
      font-size: 16px;
      line-height: 30px;
      max-width: 500px;
      margin: 0 auto;
      color: $color-light;
      text-align: center;
      font-weight: 400;
      font-style: normal;
      padding-bottom: 50px;
      text-shadow: $shadow-white;
    }

    &__form
    {
      max-width: 700px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      font-style: normal;
      padding: 15px;
    }

    &__input
    {
      font-family: $font-family;
      font-size: 12px;
      font-weight: 600;

      display: inline-block;

      min-width: 210px;
      margin: 0 0 15px 0;
      padding: 12px 15px;
      width: calc(50% - 10px);

      box-sizing: border-box;

      text-align: left;
      text-decoration: none;

      color: $color-darkfont;
      border: 1px solid #65696e;
      border-radius: 10px;

      border-color: transparent;
      background-color: $color-light;
    }

    &__input:nth-child(2n+1)
    {
      margin-right: 15px;
    }

    &__input:nth-child(2n)
    {
      margin-right: 0;
    }

    &__area
    {
      font-family: $font-family;
      font-size: 12px;
      font-weight: 600;

      display: block;

      min-width: 210px;
      margin: 0 0 15px;;
      padding: 12px 15px;
      width: 100%;

      box-sizing: border-box;

      text-align: left;
      text-decoration: none;

      color: $color-darkfont;
      border: 1px solid #65696e;
      border-radius: 10px;

      border-color: transparent;
      background-color: $color-light;
    }

    &__submit
    {
      font-family: $font-family;
      font-size: 14px;
      font-weight: 600;

      display: block;

      width: 100%;
      margin: auto 15px 15px 0;
      padding: 12px 15px;

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      color: $color-light;
      border: 1px solid #65696e;
      border-radius: 10px;

      border-color: transparent;
      background-color: $color-highlight;
    }

    &__submit:hover,
    &__submit:focus
    {
        cursor: pointer;
    }

}
