$font-family: 'OpenSans', sans-serif;

$color-highlight: #f7600e;
$color-darkfont: #3b434c;
$color-light: #fff;

$background-gradient: linear-gradient( 0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.4) 5%, rgba(0,0,0,.3) 25%, rgba(0,0,0,0) 100%);

body,
html
{
    margin: 0;
    padding: 0;

    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
}

/* Чтобы не было изображение больше контейнера*/
img
{
    max-width: 100%;
    height: auto;
}
