.our-team
{
    margin: 0 auto;
    padding: 100px 15px;

    // padding-top: 150px;

    background-color: $color-light;

    &__wrapper
    {
        @include wrapper();
    }

    &__header
    {
        font-size: 35px;
        font-weight: 600;
        font-style: normal;
        line-height: 40px;

        margin: 0 auto 20px;

        text-align: center;
        text-transform: uppercase;

        &--highlighted
        {
          color: $color-highlight;
        }
    }
}
